<br>
<div>



<button type="submit" (click)='joinGame()'>Join Game</button>
<button type="submit" (click)='build()'>Build</button>
<button type="submit" (click)='hire()'>Hire Crew</button>


    
      <label for="quests">Quests</label>
       
<select type="number" [(ngModel)]="selectedValue" (change)="onChange($event)">
<option *ngFor="let q of quests" [ngValue]="q">{{q.name}}</option>
</select>
</div>


<div class="grid-container">
    
      <div class="playerBlue">{{playerModel.username}} <br> Gold : {{playerModel.gold}}</div>
      <div class="crewBlue">crewBlue</div>
      <div class="questsBlue">
        </div>
    
    <div class="buildingsBlue">
          <div class="opboardcontainer">
                <div *ngFor="let b of buildingModel">
                      <div *ngIf="b.buildingType == 'GOLDMINE'"><img width="60" height="40" src="./assets/images/gm.png"></div>
                      <div *ngIf="b.buildingType == 'MARKETPLACE'"><img width="60" height="40" src="./assets/images/marketplace.jpg"></div>
                      <div *ngIf="b.buildingType == 'BANK'"><img width="60" height="40" src="./assets/images/bank.png"></div>
                      <div *ngIf="b.buildingType == 'VINEYARD'"><img width="60" height="40" src="./assets/images/vineyard.jpg"></div>
                  </div>
      </div>
</div>
      
  
  

     <div class="buildingsRed">
            <div class="opboardcontainer">
                        <div *ngFor="let b of oppBuilding">
                              <div *ngIf="b.buildingType == 'GOLDMINE'"><img width="60" height="40" src="./assets/images/gm.png"></div>
                              <div *ngIf="b.buildingType == 'MARKETPLACE'"><img width="60" height="40" src="./assets/images/marketplace.jpg"></div>
                              <div *ngIf="b.buildingType == 'BANK'"><img width="60" height="40" src="./assets/images/bank.png"></div>
                              <div *ngIf="b.buildingType == 'VINEYARD'"><img width="60" height="40" src="./assets/images/vineyard.jpg"></div>
                          </div>
              </div>
     </div>


      <div class="questsRed">questsRed</div>
      <div class="crewRed">crewRed</div>
      <div class="playerRed" *ngIf="opponent != null"> {{opponent}}</div> 

  </div>

