<br>
<div>

<button type="submit" (click)='joinGame()'>Join Game</button>

<button type="submit" (click)='build()' [disabled]='!myTurn'>Build</button>
<select type="number" [(ngModel)]="selectedValue" (change)="onChange($event)">
            <option *ngFor="let b of buildings" [ngValue]="b">{{b.name}}</option>
            </select>

<button type="submit" (click)='hire()' [disabled]='!myTurn'>Hire Crew</button>
<select type="number" [(ngModel)]="selectedValue" (change)="onChange($event)">
            <option *ngFor="let c of crew" [ngValue]="c">{{c.name}}</option>
            </select>

            <button type="submit" (click)='endTurn()' [disabled]='!myTurn'>End Turn</button>

    
      <label for="quests">Quests</label>
       
<select type="number" [(ngModel)]="selectedValue" (change)="onChange($event)">
<option *ngFor="let q of quests" [ngValue]="q">{{q.name}}</option>
</select>
</div>


<div class="grid-container">
    
      <div class="playerBlue">{{playerModel.username}} <br> Gold : {{playerModel.gold}}</div>

      <div class="crewBlue">
                  <div class="crewcontainer">
                  <div *ngFor="let c of crewModel">
                        <div *ngIf="c.memberType == 'DIPLOMAT'"><img width="40" height="60" src="./assets/images/diplomat.jpg"></div>
                        <div *ngIf="c.memberType == 'THIEF'"><img width="40" height="60" src="./assets/images/thief.jpeg"></div>
                        <div *ngIf="c.memberType == 'WARRIOR'"><img width="40" height="60" src="./assets/images/warrior.jpg"></div>
                        
                    </div>
        </div>      
      
      </div>
      <div class="questsBlue">
                  Completed Blue Quests
        </div>
    
    <div class="buildingsBlue">
          <div class="opboardcontainer">
                <div *ngFor="let b of buildingModel">
                      <div *ngIf="b.buildingType == 'GOLDMINE'"><img width="60" height="40" src="./assets/images/gm.png"></div>
                      <div *ngIf="b.buildingType == 'MARKETPLACE'"><img width="60" height="40" src="./assets/images/marketplace.jpg"></div>
                      <div *ngIf="b.buildingType == 'BANK'"><img width="60" height="40" src="./assets/images/bank.png"></div>
                      <div *ngIf="b.buildingType == 'VINEYARD'"><img width="60" height="40" src="./assets/images/vineyard.jpg"></div>
                  </div>
      </div>
</div>
      
  
  

     <div class="buildingsRed">
            <div class="opboardcontainer">
                        <div *ngFor="let b of oppBuilding">
                              <div *ngIf="b.buildingType == 'GOLDMINE'"><img width="60" height="40" src="./assets/images/gm.png"></div>
                              <div *ngIf="b.buildingType == 'MARKETPLACE'"><img width="60" height="40" src="./assets/images/marketplace.jpg"></div>
                              <div *ngIf="b.buildingType == 'BANK'"><img width="60" height="40" src="./assets/images/bank.png"></div>
                              <div *ngIf="b.buildingType == 'VINEYARD'"><img width="60" height="40" src="./assets/images/vineyard.jpg"></div>
                          </div>
              </div>
     </div>


      <div class="questsRed">Completed Red Quests</div>

      <div class="crewRed">
                  <div class="crewcontainer">
                              <div *ngFor="let c of oppCrew">
                                    <div *ngIf="c.memberType == 'DIPLOMAT'"><img width="40" height="60" src="./assets/images/diplomat.jpg"></div>
                                    <div *ngIf="c.memberType == 'THIEF'"><img width="40" height="60" src="./assets/images/thief.jpeg"></div>
                                    <div *ngIf="c.memberType == 'WARRIOR'"><img width="40" height="60" src="./assets/images/warrior.jpg"></div>
                                    
                                </div>
                    </div>      
      </div>
      <div class="playerRed" *ngIf="enemyPlayer != null && enemyPlayer.username != null"> {{enemyPlayer.username}} <br> Gold : {{enemyPlayer.gold}}</div> 

  </div>

