.grid-container {
    display: grid;
    grid-template-areas: 
        'playerBlue crewBlue questsBlue'
        'buildingsBlue buildingsBlue buildingsBlue'
        'buildingsRed buildingsRed buildingsRed'
        'questsRed crewRed playerRed ';
    grid-template-columns: 20vw 1fr 20vw;;
    grid-template-rows: 0.8fr 1.2fr 1.2fr 0.8fr;
    height: 50vw;
    grid-gap: 5px;
    background-color: skyblue;
    padding: 5px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 2vw;
    height: auto;
 /*    max-height: 200px; */
}


.playerRed { grid-area: playerRed; }
.buildingsRed{ grid-area: buildingsRed; } 
.crewRed{ grid-area: crewRed; }
.questsRed{ grid-area: questsRed; }
.playerBlue{ grid-area: playerBlue; }
.buildingsBlue{ grid-area: buildingsBlue; }
.crewBlue{ grid-area: crewBlue; }
.questsBlue{ grid-area: questsBlue; }



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background-color: skyblue;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .opboardcontainer {
    display: grid;
    grid-template-areas: 'fifth fourth third second first';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    background-color:skyblue;
    padding: 5px;
    height: 14vw;
  }

    
  .opboardcontainer > div {
    background-color: skyblue;
    text-align: center;
    font-size: 1vw;
 /*    max-height: 200px; */
  }